@inherits ChildComponent<SignaturePadFooter>

@if (!string.IsNullOrWhiteSpace(Image))
{
    <img id="signature-pad--clear" 
         src="@Image" 
         width="@ImageWidth" 
         height="@ImageHeight" 
         class="signature-pad--clear @Class" 
         style="@Style"
         @attributes="@ExtraAttributes" />
}
else if (ChildContent != null)
{
    <div id="signature-pad--clear" 
         class="signature-pad--clear @Class" 
         style="@Style"
         @attributes="@ExtraAttributes">
        @ChildContent
    </div>
}