@inherits ChildComponent<SignaturePadFooter>

@if (!string.IsNullOrWhiteSpace(Image))
{
    <img id="signature-pad--clear" 
         src="@Image" 
         width="@ImageWidth" 
         height="@ImageHeight" 
         class="signature-pad--clear @Class" 
         style="@Style"
         @attributes="@ExtraAttributes"
         @onclick="Clear" />
}
else
{
    <div id="signature-pad--clear" 
         class="signature-pad--clear signature-pad--action-item @Class" 
         style="@Style"
         @attributes="@ExtraAttributes"
         @onclick="Clear">
        @ChildContent
    </div>
}