<label>
    <img id="signature-pad--pen" src="@ImageSource" width="@ImageWidth" height="@ImageHeight" class="signature-pad--pen @Class" @attributes="@ExtraAttributes" />
    <input type="color" class="signature-pad--pen-color" id="signature-pad--pen-color" />
</label>